ul.nav {
  display: flex;
  list-style: none;
  background-color: blue;
  color: white;
}

ul.nav a {
  display: inline-block;
  padding: 8px;
  margin: 8px;
  text-decoration: none;
  color: inherit;
}
