ul.main_nav {
  display: flex;
  background-color: rgb(68, 68, 255);
  color: white;
  list-style: none;
}

ul.main_nav li:nth-of-type(3) {
  margin-left: auto;
}

ul.main_nav a {
  display: inline-block;
  padding: 0.8rem;
  text-decoration: none;
  color: inherit;

  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent; /* 이걸 꼭 넣어줘야 출렁거리지않는다!*/
  transition: 0.3s;
}

ul.main_nav a:hover {
  border-bottom: 3px solid rgb(47, 255, 255);
}

a.active_nav {
  font-weight: bold;
  background-color: rgb(68, 186, 255);
}
