* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input {
  flex: 1;
}

.input div {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem;
}

.input label {
  display: inline-block;
  width: 200px;
  text-align: right;

  margin-right: 0.5rem;
}

.input input {
  padding: 0.4rem;
}

.view {
  flex: 1;
}

.view div {
  display: flex;
  flex-wrap: nowrap;
}

.view label {
  display: inline-block;
  width: 200px;
  text-align: right;

  margin-right: 0.5rem;
}
