.login_form {
  display: flex;
  flex-direction: column;

  width: 80%;
  margin: 0 auto;
}

.login_form input,
.login_form button {
  padding: 0.6rem;
  margin: 0.3rem;
}

.login_form input {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login_form button {
  color: white;
  background-color: #22b8cf;

  border: 1px solid #22b8cf;
}
